{% extends "layout.html" %}
{% block title%}
    {{ restaurant.title }}
{% endblock %}

{% block content %}
    <h2>{{ restaurant.name }}</h2>
    {% if is_owner %}
    <a href="{% url 'restaurants:new-menu-item' id_restaurant=restaurant.id %}" class ="btn">New-Item</a>
    <a href="{% url 'restaurants:edit-restaurant' id_restaurant=restaurant.id %}" class ="btn">Edit Restaurant</a>
    {% endif %}
    <div style="display: flex; flex-direction: column; height: 90%; overflow-y: hidden;" >
        <div style="flex-grow: 1; width: 95%; overflow: auto;">
            <table>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                {% for item in items %}
                <tr class='clickable-row' data-href='url://'>
                    <td><img src="{{ item.photo.url }}" alt="{{ item.name }}" style="width:300px;height:auto;"></td>
                    <td> <a href="{% url 'app_restaurants:restuarant' id_restaurant=restaurant.id %}">
                        {{ item.name }}
                        </a>
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}