{% extends "layout.html" %}

{% block title%}
    New Restaurant
{% endblock %}

{% block content %}
    <section>
        <h1>New Menu Item</h1>
        <form class="form-with-validation" 
            action="{% url 'restaurants:new-menu-item' id_restaurant=restaurant.id %}" 
            method="post" 
            encytype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="form-submit">Add item</button>
        </form>
    </section>
{% endblock %}